.manhinhadmin{
    background: black;
    width: 100%;
    height: 700px;
    position: relative;
}
.bg_admin{
    background-image: red;
    width: 100%;
    height: 20%;
}
.thongtin_content{
    border: solid 10px greenyellow;
    background: white;
    width: 100%;
    height: 80%;
}
.avt{
    position: absolute;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 10px solid black;
    margin-top: 3%;
    margin-left: 70%;
}
.title_admin{
    font-weight: bold;
    font-size: 2em;
}
.noidung_content{
   
    width: 60%;
    height: 20%;
    padding: 10px;
}
.labeladmin{
    font-size: 1.2em;
    font-weight: bold;
}
.bbt{
    margin-right: 10px;
}
